{
  "trailingComma": "all",
  "semi": true,
  "proseWrap": "always",
  "printWidth": 120,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@components/cards/(.*)$",
    "^@components/sections/(.*)$",
    "^@components/ui/(.*)$",
    "^@context/(.*)$",
    "^@lib/(.*)$",
    "^@stores/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
