:root[data-theme="dracula-alucard"] {
  --text: #1f1f1f;
  --background: #fffbeb;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #cb3a2a;
  }

  h2 {
    color: #14710a;
  }

  h3 {
    color: #036a96;
  }

  p,
  a,
  .project-card {
    color: var(--text);
  }

  .tag {
    background-color: #cfcfde;
  }

  .dropdown-button,
  .dropdown-option {
    background-color: #1f1f1f;
    color: #cfcfde;
  }

  .dropdown-button:hover,
  .dropdown-option:hover {
    background-color: #cb3a2a;
    color: #fffbeb;
  }
}

:root[data-theme="dracula-dracula"] {
  --text: #f8f8f2;
  --background: #282a36;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #ff5555;
  }

  h2 {
    color: #50fa7b;
  }

  h3 {
    color: #8be9fd;
  }

  p,
  a,
  .project-card {
    color: var(--text);
  }

  .tag {
    background-color: #44475a;
  }

  .dropdown-button,
  .dropdown-option {
    background-color: #f8f8f2;
    color: 44475A;
  }

  .dropdown-button:hover,
  .dropdown-option:hover {
    background-color: #ff5555;
    color: #282a36;
  }
}
